.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ecf5f6 !important;
    border: none !important;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.01);
    outline: 1px solid #00B4CC;
    outline-offset: 1px; /* The offset */
  } 

  .card-image {
    width: 100%;
    height: 320px;
    object-fit: scale-down; //or cover
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.link-text {
  text-decoration: none;
  color: black;
}