.card-list {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
.search-bar{
    color: #9DBFAF;
    max-width: 60vw;
    min-width: 40vw;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    outline: 1px solid #00B4CC;
    outline-offset: 1px; /* The offset */
    border-radius: 4px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: small;
    padding: 5px;
  }

  
  .search-bar:focus {
    outline: 2px solid #00B4CC;
    outline-offset: 1px; /* The offset */
    color: black;
    
}