.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #def3f3;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.01);
  } 

  .card-image {
    width: 100%;
    height: 320px;
    object-fit: scale-down; //or cover
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.remove-btn, .update-btn, .delete-btn{
  max-width: 150px;
}

.card-profile {
  margin-top: 20px;
}